body {
  font-family: "ROGUE", sans-serif;
  background-color: #f4f4f4;
}

button {
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
